<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.orf">
<head>

    <th:block th:include="/main/index-head"></th:block>
    <title>Kare Blog Create : Clean Blog - Start Bootstrap Theme</title>

</head>

<body>

    <!-- Navigation -->
    <th:block th:include="/main/index-nav"></th:block>

    <!-- Page Header -->
    <header class="masthead" th:style="'background-image: url(../img/contact-bg.jpg)'">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Sign In</h1>
                        <span class="subheading">Input Your ID and Password</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <form action="/member" method="post" name="singinForm" id="singinForm" novalidate>
                    <!-- action -->
                    <input type="hidden" name="action" value="in">

                    <!-- id -->
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>ID</label>
                            <input type="text" class="form-control" placeholder="ID" name="id" required data-validation-required-message="Please enter your id.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>PW</label>
                            <input type="password" class="form-control" placeholder="PW" name="pw" required data-validation-required-message="Please enter your pw.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <br />

                    <div style="display: flex; justify-content: center; margin-bottom: 3rem;">
                        <button type="submit" class="btn btn-primary" id="sendMessageButton">Sign In</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <hr>
    <!-- Footer -->
    <th:block th:include="/main/index-footer"></th:block>
</body>
</html>


